// Colors

$white: #ffffff;
$dark: #141517;
$light-dark: #2c2e3f;
$peach: #fe7865;
$orange: #f17d4b;
$light-grey: #d7d9df;
$light-blue: aqua;
$black: #000000;
$dark-grey: #48494d;
$beige: #fbf8f8;

// Viewports

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
